
header {
    background-color: #0078d4; /* Microsoft Blue */
    color: #ffffff; /* White */
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    background-color: #f0f0f0; /* Light Grey */
    color: #333; /* Dark Grey */
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc; /* Border between header and navigation */
}

nav a {
    color: #333; /* Dark Grey */
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

label {
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ddd; /* Light Grey on hover */
}

main {
    max-width: 100%; /* Adjust the max-width as needed */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-image: url('./svce pic.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set the height of the background to cover the entire viewport */
        
}

form {
    display: grid;
    gap: 10px;
}
